<!DOCTYPE html>

<html lang="en">



<head>

    <title>Blog</title>

</head>



<body>

<h3>Blogger</h3>

<div class="grid">

    <% for (let blog of blogs) { %>

        <article class="card product-item">

            <header class="card__header">


            </header>


            <div class="card__content">

                <h1 class="product__title">$

                    <%= blog.title %>

                </h1>
                <h2>

                    <%= blog.content %>

                </h2>


            </div>


        </article>

    <% } %>

</div>

</body>



</html>